#header div label{
	padding-left: 8px;
	font-weight: 200;
}

.inlineDiv{
	display: inline-block;
}

.logo{
	float: left;
	margin: 16px;
}

.montFont{
	font-family: 'Montserrat', sans-serif;
}

.topNav{
	float: right;
	padding: 8px;
	border-radius: 32px;
	margin: 8px;
}

#navBar a{
	padding-left: 16px;
	padding-right: 16px;
	font-weight: 600;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

#navBar i{
	padding: 8px;
}

#parkingImage{
	width: 100%;
	border-radius: 16px;
	border-radius: 32px;
	overflow: hidden;
}

#formButtons{
	display: flex;
	justify-content: space-evenly;
	margin-top: 16px;
}

.forms{
	padding-top: 16px;
	padding-left: 32px;
	padding-bottom: 16px;
	padding-right: 32px;
	background-color: rgb(107, 197, 228);
	font-weight: 500;
	color: white;
	border-radius: 32px;
}

.form{
	padding: 16px;
	background-color: #f1f1f1;
	font-weight: 500;
	color: white;
	border-radius: 32px;
	margin-top: 16px;
	display: none;
}

.customTextInputStyle{
	background-color: white;
	border: 0px;
	padding: 16px;
	border-radius: 32px;
	width: 300px;
}

.topMargin{
	margin-top: 16px;
}

.regTables{
	width: auto;
}

.regButton{
	background-color: rgb(107, 197, 228);
	color: white;
	border: 0px;
	padding: 16px;
	margin-top: 16px;
	font-weight: 600;
	border-radius: 32px;
}

.feebackForm{
	margin: 32px;
	padding: 16px;
	border-radius: 32px;
	background-color: #f1f1f1;
	display: flex;
}

/* div{
	border: 2px solid red;
} */

#feedbackImageDiv{
	margin: auto;
	margin-left: 100px;
}

.priceData{
	display: flex;
}

.priceData div{
	flex: 1;
	margin: 32px;
	padding-bottom: 16px;
	border-radius: 32px;
	background-color: #f1f1f1;
}

.priceData h2{
	color: rgb(107, 197, 228);
}

.priceData h3{
	border: 2px solid rgb(107, 197, 228);
	display: inline-block;
	padding: 16px;
	border-radius: 50%;
}

.priceData p{
	line-height: 22px;
}